html
    body
        h1 #{message}
        p #{data} 
        form(action="/add-post", method='post')
            input(
                type='text'
                name = 'username'
                placeholder='Username'
            )
            input(
                type='text'
                name='password'
                placeholder = 'Password'
            )
            input(
                type = 'submit'
            )